@model IEnumerable<SignsTranslator.Models.SignsLayouts>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LayoutId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PDFDefinition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageThumbnail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LayoutId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PDFDefinition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageThumbnail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SignId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SignId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SignId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
